body {
    font-family: 'Roboto Condensed', sans-serif;
}

h3 {
    text-shadow: 3px 5px 6px #9ef5c9;
}

/*Linkuri*/
a:link{
    text-decoration: none;
}



/*ShadowText*/
.title-mancare-rece {
    text-shadow: 3px 5px 6px greenyellow;
}
.title-despre-noi{
    text-shadow: 3px 5px 6px lightgreen;
}



.fundal{
    background-image: url("img/am-birnstel.jpg");
    background-repeat: no-repeat;
    background-size: 300px auto;
    height: 360px;
    background-position: 0px 0px;
}

::selection {
    background-color: darkred;
}

.titlu::first-line{
    background-color: white;
    size: 35px;
    background-size: 35px;
}

.welcome::first-line{
    background-color: silver;
}

.despre-noi{
    background-color: lightblue;
}

/*Mancare Calda*/
.bar {
    background-color: silver;
}
.meniu-calde{
    background-color: orange;
}

/*Acasa*/
.meniu{
    background-color: darkslategrey;
}

/*Rame*/
.rama{
    width: 300px;
    height: 194px;

    background-color: lightblue;
    border-style: dashed;
    border-color: aqua;
    border: 4px dashed greenyellow;
}



/*Other*/
a[href$="Mancare-Calda.html"]{
    color: red;
}

.linc1{
    color: darkred;
}

a[href$=".html"]{
    color: darkslateblue;
}



/*======================Navigation Bar===================*/
@import url('https://fonts.googleapis.com/css?family=Arimo');
.top-menu {
    background: rgba(255,255,255,.5);
    box-shadow: 3px 0 7px rgba(0,0,0,.3);
    padding: 20px;
}
.top-menu:after {
    content: "";
    display: table;
    clear: both;
}
.navbar-logo {display: inline-block;}
.menu-main {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
.menu-main li {display: inline-block;}
.menu-main a {
    text-decoration: none;
    display: block;
    position: relative;
    line-height: 61px;
    padding-left: 20px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    color: #F73E24;
    transition:.3s linear;
}
.menu-main a:before {
    content: "";
    width: 9px;
    height: 9px;
    background: #F73E24;
    position: absolute;
    left: 50%;
    transform: rotate(45deg) translateX(6.5px);
    opacity: 0;
    transition: .3s linear;
}
.menu-main a:hover:before {opacity: 1;}
@media (max-width: 660px) {
    /*.menu-main {*/
        float: none;
        padding-top: 20px;
    }
    .top-menu {
        text-align: center;
        padding: 20px 0 0 0;
    }
    .menu-main a {padding: 0 10px;}
    .menu-main a:before {transform: rotate(45deg) translateX(-6px);}
}
@media (max-width: 600px) {
    .menu-main li {display: block;}
}

/*=======================Despre Noi================*/
.title-despre-noi-2{
    text-shadow: darkslategrey 3px 5px 6px;
}


.cards {
    display: flex;
    justify-content: space-between;
    justify-content:
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    align-content:
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .wrapper  {
        width: 450px;
    }
    .header {
        background: #86ebff;
        height: 100px;
        border-radius: 3px;
    }
    .top_menu {
        background: #2ca9b7;
        margin-top: 4px;
        height: 25px;
    }
    .knopka {
        display: block;
    }
    .sideLeft {
        background: #5ab37f;
        width: 100%;
        margin-top: 4px;
        float: none;
    }

    .bar {
        background: #d5fdf1;
        border-radius: 2px;
        width: 98%;
        height: 50px;
    }
    .content {
        background: #dbdddb;
        width: 100%;
        margin-top: 4px;
        height: 250px;
        float: none;
    }
    .footer {
        background: #758430;
        margin-top: 4px;
        height: 35px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .wrapper  {
        width: 320px;
    }
    .header {
        background: #3dfff2;
    }
    .top_menu {
        background: #328e8d;
    }
    .sideLeft {
        background: #91b399;
    }
    .content {
        background: #f2f4f2;
    }
    .footer {
        background: #6d6e6d;
    }
}
